*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box
}

body {
    background-color: aliceblue;
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/794/505/desktop-wallpaper-cinnamoroll-backgrounds-posted-by-michelle-walker-cinnamoroll-bunny.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

header, footer {
  color:rgb(255, 255, 255)
}


}